*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

/* Navigation bar styles */
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.search {
    flex: 1;
    text-align: center;
}

.search input {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.search button {
    padding: 8px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Change to desired hover color */
}

/* MAIN */

/*Footer*/
footer {
    background-color: black;
    color: #fff;
    /* padding: 0 20px 0 20px ; */
    display: flex;
    flex-direction: column;
    align-items: space-around; /* Center the content horizontally */
}

.footer-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center; /* Center the sections vertically */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.column h3 {
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    /*    padding: 0 0 0 35px;*/
    padding: 0;
}

.column ul li {
    margin-bottom: 5px;
}

.column ul li a {
    color: #fff;
    text-decoration: none;
}

.row-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-icons,
.social-icons img {
    display: inline-block;
}

.social-icons a{
    padding: 5px;
}

.center-text {
    flex: 1;
    text-align: center;
}

.toop-btn{
    padding: 8px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer; 
}

.toop-btn:hover{
    background-color: #464646;
}

button.toop-btn {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .social-icons{
        padding: 20px 0;
    }
    .row-section {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center the items in the column */
    }
}

.container{
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    padding: 0 5px;
}

.component-section{
    display: flex;
}

.col-1{
    width: 70%;
}
.col-2{
    width: 30%;
}

.col-name{
    padding: 15px 0;
    text-align: center;
}

.component{
    margin: 10px auto;
    width: 100%;
}

.accordion {
    font-size: 16px;
    color: black;
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: max-height 1s ease-out;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    /* padding: 0 18px;  */
    background-color: white;
    display: none;
    overflow: hidden;
}

.accordion:after {
    content: '+'; 
    color: #777;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: '-';
}


/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
}

th, td {
    padding: 8px 4px;
    text-align: center !important;
}

td img {
    max-width: 100px;
    height: auto;
}

td button {
    padding: 5px 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

td button:hover {
    background-color: #45a049;
}


button {
    padding: 10px 10px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #45a049;
}

.buttons-of-cart{
    margin-top: 10px;
}

/* Carousel */
/* Styles for both carousels */
.carousel-container,
.second-carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide,
.second-carousel-slide {
    display: none;
}

.carousel-slide img,
.second-carousel-slide img {
    width: 100%;
    height: fit-content;
}

.carousel-slide.active,
.second-carousel-slide.active {
    display: block;
}

td, th, tbody, tfoot, thead{
    border-color: #6d6d6d;
}

/* Alert msg css */
.alert {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(41, 41, 41, 0.842);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
}

