*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 1px solid red; */
}

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

/* Navigation bar styles */
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.search {
    flex: 1;
    text-align: center;
}

.search input {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.search button {
    padding: 8px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    position: relative; /* Added position relative */
}

#cart-button {
    position: relative; /* Added position relative */
    cursor: pointer;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Change to desired hover color */
}

/* Cart Popup */
.cart-popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.cart-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-popup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-popup:hover,
.close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cart-actions {
    margin-top: 20px;
    text-align: center;
}

/* Main section */
main {
    max-width: 990px;
    margin: 0 auto; /* Center the main section */
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.advertisment-container{
    width: 30%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prebuilt-card {
    width: 100%;
    margin-bottom: 30px;
}

.row {
    display: flex;
}

.prebuilt-image {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prebuilt-image img {
    max-width: 100%;
    height: auto;
}

.buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.product-details {
    width: 80%;
    padding-left: 20px;
}

.product-details h2 {
    font-size: 1.5rem;
    color: green;
    margin-bottom: 10px;    
}

.product-details p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Styling for buttons */
button {
    padding: 8px 15px;
    margin-right: 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

/* Footer */

.top-btn{
    padding: 8px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer; 
}

footer {
    background-color: black;
    color: #fff;
    /* padding: 0 20px 0 20px ; */
    display: flex;
    flex-direction: column;
    align-items: space-around; /* Center the content horizontally */
}

.footer-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center; /* Center the sections vertically */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.column h3 {
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
    /*    padding: 0 0 0 35px;*/
    padding: 0;
}

.column ul li {
    margin-bottom: 5px;
}

.column ul li a {
    color: #fff;
    text-decoration: none;
}

.row-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-icons,
.social-icons img {
    display: inline-block;
}

.center-text {
    flex: 1;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .social-icons{
        padding: 20px 0;
    }
    .row-section {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center the items in the column */
    }
}


.carousel-container,
.second-carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide,
.second-carousel-slide {
    display: none;
}

.carousel-slide img,
.second-carousel-slide img {
    width: 100%;
    height: fit-content;
}

.carousel-slide.active,
.second-carousel-slide.active {
    display: block;
}