*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; 
}

/* Navigation bar styles */
header {
    background-color: black;
    color: #fff;
    padding: 10px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.search {
    flex: 1;
    text-align: center;
}

.search input {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.search button {
    padding: 8px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700; /* Change to desired hover color */
}

/* Centered sections */
main {
    display: flex;
    flex-direction: row; /* Display main as row */
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: auto; /* Push main to the bottom */
    height: calc(100% - 100px); /* Adjust based on navbar height */
}

.section-one{
    padding-right: 5px;
}
.section-two{
    padding-left: 5px;
}

.centered {
    text-align: center;
    margin-bottom: 20px;
    flex: 1; /* Take up remaining space */
}

.centered div {
    max-width: 600px; /* Adjust as needed */
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}

/*Footer*/
footer {
    background-color: black;
    color: #fff;
    padding: 0 20px 0 20px ;
    display: flex;
    flex-direction: column;
    align-items: space-around; /* Center the content horizontally */
}

.footer-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center; /* Center the sections vertically */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}

.column h3 {
    margin-bottom: 10px;
}

.column ul {
    list-style-type: none;
/*    padding: 0 0 0 35px;*/
    padding: 0;
}

.column ul li {
    margin-bottom: 5px;
}

.column ul li a {
    color: #fff;
    text-decoration: none;
}

.row-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.social-icons,
.social-icons img {
    display: inline-block;
}

.center-text {
    flex: 1;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .social-icons{
        padding: 20px 0;
    }
    .row-section {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Center the items in the column */
    }
}